{
    "plugins": [
        "prettier-plugin-tailwindcss"
    ],
    "tabWidth": 4,
    "htmlWhitespaceSensitivity": "strict",  
    "trailingComma": "none",         
    "singleAttributePerLine": false, 
    "bracketSameLine": true   
 
}